# {
# 	# Disable automatic HTTPS globally
# 	auto_https off
# }

farmacia.local {
	tls internal
	reverse_proxy http://institutional-website:80 # Sim, está correto. Esse é um CaddyFile DEV
}

intranet.farmacia.local {
	tls internal
	reverse_proxy http://intranet-website:80 # Sim, está correto. Esse é um CaddyFile DEV
}

escuta.farmacia.local {
	tls internal
	reverse_proxy http://escuta-website:80 # Sim, está correto. Esse é um CaddyFile DEV
}

phpmyadmin.farmacia.local {
	tls internal
	reverse_proxy http://phpmyadmin:80 # Sim, está correto. Esse é um CaddyFile DEV
}